// color variants
@import 'themes-vars.module.scss';

// third-party
@import '~react-perfect-scrollbar/dist/css/styles.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// ==============================|| LIGHT BOX ||============================== //
.slick-arrow:before {
    color: $grey500;
}

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
    z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
    margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
    .ps__rail-y {
        &:hover > .ps__thumb-y,
        &:focus > .ps__thumb-y,
        &.ps--clicking .ps__thumb-y {
            background-color: $grey500;
            width: 5px;
        }
    }
    .ps__thumb-y {
        background-color: $grey500;
        border-radius: 6px;
        width: 5px;
        right: 0;
    }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
    &.ps--active-y > .ps__rail-y {
        width: 5px;
        background-color: transparent !important;
        z-index: 999;
        &:hover,
        &.ps--clicking {
            width: 5px;
            background-color: transparent;
        }
    }
    &.ps--scrolling-y > .ps__rail-y,
    &.ps--scrolling-x > .ps__rail-x {
        opacity: 0.4;
        background-color: transparent;
    }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

form .MuiInputBase-input {
    background: #ffffff !important;
}

@keyframes bounce {
    0%,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -5px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -7px, 0);
    }
    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    90% {
        transform: translate3d(0, -2px, 0);
    }
}

@keyframes slideY {
    0%,
    50%,
    100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
}

@keyframes slideX {
    0%,
    50%,
    100% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
}

.MuiContainer-root {
    max-width: 1440px;
    padding: 0 10px;
}

form {
    .MuiFormLabel-root {
        color: '#97A5BD';
        font-weight: 500;
    }

    .MuiButtonBase-root {
        padding: 10px 20px;
        border-radius: 6px;
        // background: #2468de;
        font-size: 18px;
        line-height: normal;
        margin-top: 20px;
    }
}

header {
    padding: 0 10px;

    .MuiToolbar-root {
        padding: 0;
    }

    button:not(button:last-child) {
        height: 35px;
    }

    button:not(button:last-child)::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        // background: #1e88e5;
        transition: width 0.3s;
        bottom: 0;
    }

    button:hover {
        // color: #1e88e5;
        // background: #fff !important;
    }

    button:not(button:last-child):hover::after {
        width: 100%;
    }
}

#contact-sales {
    background: url('../images/landing/Home/FooterBackground.svg') no-repeat center;
    background-size: cover;
}

.serviceTabList {
    margin-top: 70px;
    .MuiBox-root {
        border-bottom: none;
        button {
            width: 380px;
            padding: 25px;
            border-radius: 50px;
            border: 3px solid #292930;
            font-size: 26px;
            font-weight: 700;
            line-height: normal;
            text-transform: none;
            color: #000;
        }
        [aria-selected='true'] {
            background: #2468de;
            border: 3px solid #2468de;
            color: #fff;
        }
        .MuiTabs-flexContainer {
            border-bottom: none;
            justify-content: center;
            gap: 40px;
        }
        .MuiTabs-indicator {
            display: none;
        }
    }
    .MuiTabPanel-root {
        padding: 50px 0 0 0;
    }
}

@media (max-width: 1024px) {
    .MuiTabs-flexContainer {
        flex-direction: column;
        align-items: center;
    }
}
